@font-face{
    font-family: 'DDD';
    src: url(../FINAL_WORK_HTML/FONT/magra-bold-webfont.ttf);
}

@font-face{
    font-family: 'DDD2';
    src: url(../FINAL_WORK_HTML/FONT/Intro.otf);
}
@font-face{
    font-family: 'DDD3';
    src: url(../FINAL_WORK_HTML/FONT/Bicubik.OTF);
}
@font-face{
    font-family: 'DDD4';
    src: url(../FONT/Intro.otf);
}
body{
    margin: 0;
}
h1{
    color: rgb(219, 58, 58);
    margin-left: 150px;
}

div.list{
    display: flex;
    background-color: #d3d0d0;
    height: 85px;
}
.menu{
    display: flex;
    text-align: center;
    /* margin-left: 200px; */
    margin-top: 23px;
}
.line1 p.line_p1{
    font-family: 'DDD3';
}

.menu li{
    width: 170px;
    list-style: none;
    background-color: #d3d0d0;
    position: relative;
    padding-bottom: 20px;
    font-size: 20px;
    border-radius: 7px;
}


.menu a {
    color: #5f5e5e;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .3s;
}

.menu a:hover{
    color: rgb(238, 255, 0);
}
.li1 a{
    color: rgb(255, 0, 0);
}
.menu ul{
    position: absolute;
    display: none;
    padding: 0;
}

.menu li:hover ul{
    display: block;

}
span{
    font-family: 'DDD';
    color: rgb(238, 255, 0);
}
.title{
    font-family: 'DDD';
    color: rgb(255, 0, 0);
}
.img-top img{
    position: relative;
    display: inline-block;
    position: absolute;
    top: 15px; 
    left: 220px;
    width: 22px;
    height: 15px;
}
div.head{
    background-color: rgb(230, 230, 9);
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

div.img_bl1 img{
    width: 200px;
    height: 200px;
    border-radius: 250px;
    float: left;
    margin-right: 10px;
}

.p1{
    font-family: 'DDD4';
    color: rgb(224, 3, 32);
    font-size: 20px;
}
.h6{
    color: rgb(107, 107, 107);
}
.hr1{
    width: 500px;
}
a.a1{
    background-color: rgb(145, 255, 0);
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: #ffffff; 
    display: block;
    margin: 0 auto;
    width: 100px;
}

div.right{
    background-color: #c9c7c7;
    width: 300px;
    float: right;
    text-align: center;
    margin-top: 100px;
}
div.right img{
    border-radius: 250px;
    height: 150px;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 1024px;
    margin: 0 auto;
    align-items: start;;

}

div.last_img {
    padding: 50px;
    background-color: rgb(255, 230, 0);
    padding-left: 585px;
    padding-bottom: 0px;
    margin-top: 20px;
}

div.last_img .pin{
    width: 31px;
    height: 30px;
}
div.last_img img{
    margin-right: 20px;
}