@font-face{
    font-family: 'DDD';
    src: url(../FONT/lato-bold-webfont.ttf);
}

@font-face{
    font-family: 'DDD2';
    src: url(../FONT/lato-regular-webfont.ttf);
}
@font-face{
    font-family: 'DDD3';
    src: url(../FONT/magra-bold-webfont.ttf);
}

body{
    margin: 0;
}
h1{
    color: rgb(219, 58, 58);
    margin-left: 150px;
}

div.list{
    display: flex;
    background-color: #d3d0d0;
    height: 85px;
}
.menu{
    display: flex;
    text-align: center;
    margin-left: 200px;
    margin-top: 23px;
}
.line1 p.line_p1{
    font-family: 'DDD3';
}

.menu li{
    width: 200px;
    list-style: none;
    background-color: #d3d0d0;
    position: relative;
    padding-bottom: 20px;
    font-size: 20px;
    border-radius: 7px;
}


.menu a {
    color: #5f5e5e;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .3s;
}

.menu a:hover{
    color: rgb(238, 255, 0);
}
.li1 a{
    color: rgb(255, 0, 0);
}
.menu ul{
    position: absolute;
    display: none;
    padding: 0;
}

.menu li:hover ul{
    display: block;

}
span{
    font-family: 'DDD';
    color: rgb(238, 255, 0);
}
.title{
    font-family: 'DDD';
    color: rgb(255, 0, 0);
}
.img-top img{
    position: relative;
    display: inline-block;
    position: absolute;
    top: 15px; 
    left: 220px;
    width: 22px;
    height: 15px;
}
div.head{
    background-color: rgb(230, 230, 9);
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
div.big_1mg img{
    width: 100%;
}
div.text{
    background-color: #c9c7c7;
    padding: 30px;
    text-align: center;
    width: 200px;
    margin-left: 200px;
    margin-top: 40px;
}
div.text .p1{
    color: rgb(255, 0, 43);
    font-family: 'DDD';
}
div.text a{
    color: rgb(251, 255, 0);
}
div.text2 .p2{
    font-family: 'DDD';
    text-align: right;

}
.text p{
    font-family: 'DDD2';
    font-size: 15px;
}
.fl{
    display: flex;
    align-items:start;
}
.container{
    display: flex;
    flex-direction: row;
}
.text-container{
    margin-left: 15px;
    margin-top: 20px;
}
div.text-container a{
    color: rgb(155, 158, 0);
}
div.text-container .h3{
    font-family: 'DDD';
    color: rgb(224, 3, 32);
}
div.text-container p{
    font-family: 'DDD2';
    font-size: 15px;
}

div.last_img {
    padding: 50px;
    background-color: rgb(255, 230, 0);
    padding-left: 585px;
    padding-bottom: 0px;
}

div.last_img .pin{
    width: 31px;
    height: 30px;
}
div.last_img img{
    margin-right: 20px;
}
p{
    font-family: 'DDD2';
}
